.payButtWrapper a {
  width: 90%;
  height: 50px;
  background: #e2bf58;
  margin: 20px auto 20px auto;
  outline: none;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: OpenSans-Regular;
}
.payButtWrapper a:hover {
  color: white;
  border-color: white;
  cursor: pointer;
  background: #a4903a;
}

.payRedButtWrapper a {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  outline: none;
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
}
.payRedButtWrapper a:hover {
  border-color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

#advantages {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  background-size: cover;
}

.advantagesWrap {
  width: 1170px;
  margin: 0 auto;
  padding: 53px 0 0 0;
}
.advantagesWrap .advantagesTitleWrap {
  display: flex;
  align-items: center;
  margin: 0 0 70px 0;
}
.advantagesWrap .advantagesTitleWrap .advantagesTittleWrapText {
  height: auto;
  width: 50%;
}
.advantagesWrap .advantagesTitleWrap .advantagesTittleWrapText h3 {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 1.2px;
  color: white;
}
.advantagesWrap .advantagesTitleWrap .advantagesTittleWrapText h4 {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 1.2px;
  color: white;
}

.fourDivWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fourDivWrapper div {
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourDivWrapper div img {
  height: 80px;
}
.fourDivWrapper div p {
  font-family: OpenSans-ExtraBold;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
  margin: 53px 0 0 0;
  color: white;
}

.advantagesDescriptionWrapper {
  width: 100%;
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 15px 1px 15px;
  border-radius: 30px;
}
.advantagesDescriptionWrapper div {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
}
.advantagesDescriptionWrapper div img {
  height: 45px;
}
.advantagesDescriptionWrapper div p {
  font-family: OpenSans-ExtraBold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.75px;
  color: #ffffff;
  margin-left: 20px;
}

#documents {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.sectionNameDocs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0 0;
  color: white;
}

.locationName {
  width: 20%;
}
.locationName p {
  text-align: center;
  font-family: OpenSans-ExtraBold;
}

.docsName {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.docsName p {
  width: 100%;
  text-align: center;
  font-family: OpenSans-ExtraBold;
}

.documentsWrapper {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 15px 0 0 0;
  position: relative;
}
.documentsWrapper h2 {
  width: 100%;
  text-transform: uppercase;
  font-family: OpenSans-ExtraBold;
  font-size: 60px;
  color: white;
}

.documentsWrapperModalWrap {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(225, 225, 225, 0.99);
  z-index: 100;
  top: 0;
}

.docsNameModal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #525252;
}
.docsNameModal p {
  width: 100%;
  text-align: center;
  font-family: OpenSans-ExtraBold;
}

.documentsWrapperModal {
  width: 1170px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.firstDocksWrapper, .secondDocksWrapper, .thirdDocksWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 0 0;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 30px;
}
.firstDocksWrapper p, .secondDocksWrapper p, .thirdDocksWrapper p {
  width: 20%;
  text-align: center;
  font-family: OpenSans-ExtraBold;
  color: white;
}
.firstDocksWrapper .docs, .secondDocksWrapper .docs, .thirdDocksWrapper .docs {
  height: 68px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.firstDocksWrapper .docs div, .secondDocksWrapper .docs div, .thirdDocksWrapper .docs div {
  overflow: hidden;
  width: 50%;
  height: 68px;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.firstDocksWrapper .docs div a, .secondDocksWrapper .docs div a, .thirdDocksWrapper .docs div a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.firstDocksWrapper .docs div a img, .secondDocksWrapper .docs div a img, .thirdDocksWrapper .docs div a img {
  width: 60px;
  position: absolute;
  top: -134px;
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("fonts/Open Sans/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBoldItalic;
  src: url("fonts/Open Sans/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("fonts/Open Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-SemiboldItalic;
  src: url("fonts/Open Sans/OpenSans-SemiboldItalic.ttf");
}
#contacts {
  width: 100%;
  height: 185px;
  background: rgba(0, 0, 0, 0.7);
}

.footerWrapper {
  width: 1170px;
  height: 100%;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footerWrapper div {
  width: 350px;
  height: 135px;
  display: flex;
  align-items: center;
}

.footerContentWrap1 a {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: white;
  font-family: OpenSans-ExtraBold;
  font-size: 22px;
  letter-spacing: 0.6px;
  margin: 0 20px 0 0;
}

.footerContentWrap2 a img {
  width: 350px;
}

.footerContentWrap3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.footerContentWrap3 a {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: white;
  font-family: OpenSans-ExtraBold;
  font-size: 22px;
  letter-spacing: 0.6px;
  margin: 0 20px 0 0;
}
.footerContentWrap3 a img {
  width: 21px;
  height: 21px;
  margin: 0 5px 0 0;
}

.visitCounter {
  width: 100%;
  background: silver;
  display: flex;
  justify-content: center;
}

#header {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.headerInfoFullScreen {
  width: 100%;
  height: 70px;
}

.headerInfoContentWrapper {
  width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerInfoContentWrapper a img {
  height: 70px;
}
.headerInfoContentWrapper .headerInfoWrap {
  display: flex;
}
.headerInfoContentWrapper .headerInfoWrap .socialLinkHeader {
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 0 0;
}
.headerInfoContentWrapper .headerInfoWrap .socialLinkHeader a img {
  width: 30px;
  height: 30px;
}
.headerInfoContentWrapper .headerInfoWrap .workSchedule {
  height: 40px;
  display: flex;
  margin: 0 10px 0 0;
  align-items: center;
}
.headerInfoContentWrapper .headerInfoWrap .workSchedule img {
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
}
.headerInfoContentWrapper .headerInfoWrap .workSchedule p {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: white;
}
.headerInfoContentWrapper .headerInfoWrap .telNum {
  width: 295px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}
.headerInfoContentWrapper .headerInfoWrap .telNum div a {
  color: white;
  font-family: OpenSans-ExtraBold;
}
.headerInfoContentWrapper .headerInfoWrap .telNum div a img {
  margin: 0 5px 0 0;
  width: 14px;
  height: 14px;
}

.logo {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 694px;
  height: 100%;
}

#top {
  display: none;
  width: 50px;
  position: fixed;
  left: 25px;
  bottom: 50px;
  z-index: 99;
}
#top img {
  width: 50px;
}

#top:hover {
  cursor: pointer;
}

#location {
  width: 100%;
  background-size: cover;
  padding: 30px 0 30px 0;
  position: relative;
}

.locationContentWrapper {
  width: 1170px;
  margin: 0 auto;
}

.locationText {
  margin: 29px 0 0 0;
}
.locationText p {
  text-transform: uppercase;
  color: white;
}
.locationText .smallText {
  font-family: OpenSans-ExtraBold;
  font-size: 35px;
  letter-spacing: 0.88px;
}
.locationText .bigText {
  font-family: OpenSans-ExtraBold;
  font-size: 60px;
  letter-spacing: 1.5px;
}
.locationText .buttTarifsWrapper button {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-family: OpenSans-ExtraBold;
  font-size: 24px;
  margin: 20px 0 20px 0;
  outline: none;
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
}
.locationText .buttTarifsWrapper button:hover {
  border-color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

.villagesTextWrapper {
  height: 237px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 30px;
}
.villagesTextWrapper div {
  width: 33%;
  display: flex;
  align-items: center;
}
.villagesTextWrapper div img {
  width: 34px;
  height: 19px;
}
.villagesTextWrapper div p {
  font-family: OpenSans-Regular;
  font-size: 30px;
  letter-spacing: 0.75px;
  margin: 0 0 0 22px;
  color: white;
}
.villagesTextWrapper div p:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

#map {
  width: 100%;
  height: 500px;
}

.mainModalContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(225, 225, 225, 0.95);
  z-index: 100;
  top: 0;
}

.tariffsWrapper {
  width: 1170px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.tariffsTitle {
  text-transform: uppercase;
  font-family: OpenSans-ExtraBold;
  color: #525252;
  font-size: 26px;
  text-align: center;
}

.menuNameTariffs {
  display: flex;
  justify-content: center;
}
.menuNameTariffs div {
  width: 33%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menuNameTariffs div p {
  font-family: OpenSans-ExtraBold;
  width: 90%;
  text-align: center;
  color: #525252;
  margin: 20px 0 0 0;
  font-size: 24px;
  background: #d2d2d2;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 5px #676767;
}

.menuNameTariffs2 {
  display: flex;
  justify-content: center;
}
.menuNameTariffs2 div {
  width: 33%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menuNameTariffs2 div p {
  font-family: OpenSans-ExtraBold;
  width: 100%;
  text-align: center;
  color: white;
  margin: 20px 0 0 0;
  font-size: 24px;
  background: black;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 5px black;
}

.tariffsNote {
  padding-top: 50px;
}
.tariffsNote h3 {
  font-family: OpenSans-ExtraBold;
  font-size: 12px;
  padding-bottom: 10px;
  color: #525252;
}
.tariffsNote p {
  font-family: OpenSans-Bold;
  font-size: 11px;
  padding-bottom: 5px;
}

.modalBankInfo::-webkit-scrollbar {
  display: block;
}

.modalBankInfo {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 100;
  background: #aebece;
  background-size: cover;
  overflow-y: scroll;
}
.modalBankInfo h4 {
  text-transform: uppercase;
  text-align: center;
  font-family: OpenSans-ExtraBold;
  font-size: 50px;
  font-weight: 600;
  color: red;
}
.modalBankInfo .title {
  font-family: OpenSans-ExtraBold;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  color: red;
  padding: 5px;
}
.modalBankInfo .textSorry {
  margin: 20px 0 20px 0;
  width: 100%;
  font-family: Arial;
  font-size: 16px;
  text-align: center;
}
.modalBankInfo #closeBankingModal {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 30px;
}
.modalBankInfo #closeBankingModal:hover {
  cursor: pointer;
}

.newBankInfoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.newBankInfoWrapper .newBankInfo {
  width: 320px;
  line-height: 1.4;
}

.sorryLogoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

.sorryLogo {
  width: 200px;
}

.buttonShowModal {
  display: block;
  right: -195px;
  top: 45%;
  background: rgba(131, 144, 139, 0.3);
  position: fixed;
  transform: rotate(270deg);
  font-family: OpenSans-SemiboldItalic;
  color: whitesmoke;
  padding: 10px;
  border-radius: 15px;
  z-index: 101;
}

.buttonShowModalHide {
  display: block;
  right: -195px;
  top: -300px;
  background: rgba(131, 144, 139, 0.3);
  position: fixed;
  transform: rotate(270deg);
  font-family: OpenSans-SemiboldItalic;
  color: whitesmoke;
  padding: 10px;
  border-radius: 15px;
  z-index: 101;
}

.buttonShowModalRed {
  display: block;
  right: -195px;
  top: 45%;
  background: rgb(255, 0, 2);
  position: fixed;
  transform: rotate(270deg);
  font-family: OpenSans-SemiboldItalic;
  color: whitesmoke;
  padding: 10px;
  border-radius: 15px;
  z-index: 101;
}

.buttonShowModal:hover {
  cursor: pointer;
}

.buttonShowModalRed:hover {
  cursor: pointer;
}

.modalNewsInfo::-webkit-scrollbar {
  display: none;
}

.modalNewsInfoWrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 102;
}

.modalNewsInfo {
  z-index: 103;
  display: block;
  width: 80%;
  height: 80%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: #aebece;
  background-size: cover;
  overflow-y: scroll;
  border-radius: 50px;
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.3);
}
.modalNewsInfo h4 {
  text-transform: uppercase;
  text-align: center;
  font-family: OpenSans-ExtraBold;
  font-size: 50px;
  font-weight: 600;
  color: red;
}
.modalNewsInfo .title {
  margin: 0 auto;
  width: 80%;
  font-family: OpenSans-ExtraBold;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  color: red;
  padding: 5px;
}
.modalNewsInfo .textSorry {
  margin: 20px 0 20px 0;
  width: 100%;
  font-family: Arial;
  font-size: 16px;
  text-align: center;
}
.modalNewsInfo #closeNewsModal {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 30px;
}
.modalNewsInfo #closeNewsModal:hover {
  cursor: pointer;
}

.newsText {
  width: 100%;
  text-align: center;
}
.newsText p {
  padding: 10px;
  line-height: 1.5;
  font-family: OpenSans-ExtraBold;
}

.sorryLogoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

.sorryLogo {
  width: 200px;
}

nav {
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.7);
}

.navWrap {
  height: 100%;
  width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navWrap li {
  display: flex;
  align-items: center;
  padding: 0 15.9px 0 15.9px;
}
.navWrap li a {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 0.7px;
  color: white;
  text-align: center;
}

header {
  min-width: 320px;
}

.phoneHeaderLogo {
  width: 100%;
}

.phoneHeaderNavBarFullScreen {
  width: 100%;
  height: 50px;
  background: rgba(202, 206, 206, 0.29);
}

.phoneHeaderNavBarWrap {
  width: 320px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.phoneMenuButt {
  width: 37px;
  height: 42px;
}

.callButt {
  display: flex;
}
.callButt img {
  height: 40px;
}
.callButt a {
  color: white;
  font-family: OpenSans-ExtraBold;
  font-size: 22px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.navListPhoneHeaderFullBackground {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 102;
}

.navListPhoneHeader {
  position: absolute;
  width: 100%;
  margin: 2px 0 0 0;
  z-index: 103;
  background: #3c3c3c;
}
.navListPhoneHeader nav {
  background: #3c3c3c;
  height: 100%;
}
.navListPhoneHeader .navWrap {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.navListPhoneHeader .navWrap li {
  width: 99%;
  border-radius: 50px;
  justify-content: center;
  padding: 0;
}
.navListPhoneHeader .navWrap li a {
  font-size: 15px;
  padding: 17px 0;
  width: 100%;
}

.socialLinkHeaderPhone {
  display: none;
  width: 260px;
  justify-content: space-around;
  margin: 20px auto;
}
.socialLinkHeaderPhone a {
  margin: 0 10px 0 10px;
}

.fixedBody {
  position: fixed;
  width: 100%;
}

body {
  background: black;
}

.contentBG {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 35px 35px 55px black;
}

.contentWrapper {
  width: 80%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentWrapper h1 {
  font-family: OpenSans-ExtraBold;
  color: red;
  font-size: 40px;
  text-align: center;
  margin: 0 0 20px 0;
}

.contentWrapper p {
  width: 100%;
  font-family: OpenSans;
  color: white;
  font-size: 22px;
  letter-spacing: 1.3px;
  text-align: left;
  padding: 5px 0;
}

.contentWrapper p a {
  color: white;
}

#sendInfoButt {
  padding: 20px 0;
  width: 80%;
  background: #e2bf58;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 24px;
  outline: none;
  border: 5px solid black;
  border-radius: 30px;
  margin: 20px 0 20px 0;
}

#sendInfoButt:hover {
  color: white;
  border-color: white;
  cursor: pointer;
  background: #a4903a;
}

#sendInfoButt:active {
  outline: none;
}

@media screen and (max-width: 479px) {
  .contentWrapper h1 {
    font-size: 22px;
  }
  .contentWrapper p {
    font-size: 13px;
  }
  #sendInfoButt {
    width: 100%;
    font-size: 23px;
    padding: 8px 0;
  }
  .logo {
    width: 245px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.containerCtvWrapper {
  width: 100%;
  min-height: 75vh;
}

.containerCtv {
  width: 1150px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contentCtvWrappers {
  width: 29%;
  height: 100%;
  overflow-y: hidden;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin: 20px 0 20px 0;
  border-radius: 30px;
}
.contentCtvWrappers .ctvPriceTitleWrapper {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 30px;
}
.contentCtvWrappers .ctvPriceTitleWrapper h3 {
  font-family: OpenSans-Regular;
  font-weight: 700;
  text-align: center;
  padding: 0 0 15px 0;
  color: #E2E2E2;
}
.contentCtvWrappers .ctvPriceTitleWrapper .ctvPriceText {
  text-align: center;
  font-family: OpenSans-Regular;
  font-weight: 700;
  padding: 10px 0 0 0;
  color: #E2E2E2;
}
.contentCtvWrappers .ctvPriceTitleWrapper img {
  width: 30px;
  margin: 0 0 0 10px;
}
.contentCtvWrappers .ctvPriceTitleWrapper img:hover {
  cursor: pointer;
}

.contentCTV1, .contentCTV2, .contentCTV3 {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contentCTV1 .channels, .contentCTV2 .channels, .contentCTV3 .channels {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  padding: 10px;
}
.contentCTV1 .channels img, .contentCTV2 .channels img, .contentCTV3 .channels img {
  width: 60px;
}
.contentCTV1 .channels p, .contentCTV2 .channels p, .contentCTV3 .channels p {
  font-family: OpenSans-Regular;
  text-align: center;
  color: #E2E2E2;
}

.scrollDown1, .scrollDown2, .scrollDown3 {
  animation-name: scrollUpRotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.scrollDown1anim, .scrollDown2anim, .scrollDown3anim {
  animation-name: scrollDownRotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes scrollDownRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes scrollUpRotate {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.terminalWrapper {
  width: 100%;
}
.terminalWrapper h3 {
  font-size: 25px;
  text-align: center;
  font-family: OpenSans-ExtraBold;
  color: red;
  padding: 0 50px 0 50px;
}

.googleMapsLogo {
  width: 20px;
  position: absolute;
}

.terminalAddressWrapper {
  margin: 30px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.terminalAddressWrapper div {
  display: flex;
  flex-direction: column;
}
.terminalAddressWrapper div h6 {
  font-size: 25px;
  font-family: OpenSans-ExtraBold;
  padding: 5px;
}
.terminalAddressWrapper div p {
  font-size: 20px;
  font-family: OpenSans-ExtraBold;
  padding: 5px;
}
.terminalAddressWrapper div a {
  padding: 6px;
  font-size: 18px;
  font-family: OpenSans-SemiboldItalic;
}

#payPage {
  width: 100%;
  min-height: 75vh;
  background-size: cover;
}
#payPage .payPageWrapper {
  width: 1150px;
  margin: 0 auto;
  padding: 53px 0 53px 0;
}
#payPage .payPageWrapper .payPageTitle {
  width: 100%;
}
#payPage .payPageWrapper .payPageTitle h3 {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 1.2px;
  color: white;
}
#payPage .payPageWrapper .payPageTitle h4 {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 1.2px;
  color: white;
}
#payPage .payPageWrapper .btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}
#payPage .payPageWrapper .btnWrapper .aprivatYas .privatYas {
  width: 350px;
  height: 380px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
#payPage .payPageWrapper .btnWrapper .aprivatYas .privatYas .privatYasImgWarpper {
  height: 200px;
  display: flex;
  align-items: center;
  margin: 0;
}
#payPage .payPageWrapper .btnWrapper .aprivatYas .privatYas .privatYasImgWarpper img {
  width: 200px;
}
#payPage .payPageWrapper .btnWrapper .aprivatYas .privatYas p {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 1.2px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
#payPage .payPageWrapper .btnWrapper .aprivatYas .privatYas div {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.2px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
#payPage .payPageWrapper .btnWrapper .aprivatYas:hover .privatYas {
  background: rgba(255, 255, 255, 0.3);
}
#payPage .payPageWrapper .btnWrapper .aprivatYas:hover .privatYas .privatYasImgWarpper img {
  width: 250px;
}
#payPage .payPageWrapper .btnWrapper .aeasyPay .easyPay {
  background: rgba(255, 255, 255, 0.1);
  width: 350px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
#payPage .payPageWrapper .btnWrapper .aeasyPay .easyPay .easyPayImg {
  height: 200px;
  display: flex;
  align-items: center;
  margin: 0;
}
#payPage .payPageWrapper .btnWrapper .aeasyPay .easyPay .easyPayImg img {
  width: 200px;
}
#payPage .payPageWrapper .btnWrapper .aeasyPay .easyPay p {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 1.2px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
#payPage .payPageWrapper .btnWrapper .aeasyPay .easyPay div {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.2px;
  color: white;
  text-align: center;
  margin-top: 20px;
}
#payPage .payPageWrapper .btnWrapper .aeasyPay:hover .easyPay {
  background: rgba(255, 255, 255, 0.3);
}
#payPage .payPageWrapper .btnWrapper .aeasyPay:hover .easyPay .easyPayImg img {
  width: 250px;
}
#payPage .payPageWrapper .btnWrapper .bankDetails {
  background: rgba(255, 255, 255, 0.1);
  width: 350px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
#payPage .payPageWrapper .btnWrapper .bankDetails P {
  font-family: OpenSans-ExtraBold;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

/*# sourceMappingURL=index.css.map */
