@font-face {
  font-family: OpenSans-ExtraBold;
  src: url("fonts/Open Sans/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: OpenSans-ExtraBoldItalic;
  src: url("fonts/Open Sans/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("fonts/Open Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-SemiboldItalic;
  src: url("fonts/Open Sans/OpenSans-SemiboldItalic.ttf");
}