.mainModalContainer {
  width: 100%;
  height: 100%;
 position: absolute;
  // background: rgba(0, 0, 0, 0.8);
  background: rgba(225, 225, 225, 0.95);
  z-index: 100;
  top: 0;
}

.tariffsWrapper {
  width: 1170px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.tariffsTitle {
  text-transform: uppercase;
  font-family: OpenSans-ExtraBold;
  color: #525252;
  font-size: 26px;
  text-align: center;

}

.menuNameTariffs {
  display: flex;
  justify-content: center;

  div {
    width: 33%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    p {
      font-family: OpenSans-ExtraBold;
      width: 90%;
      text-align: center;
      color: #525252;
      margin: 20px 0 0 0;
      font-size: 24px;
      background: #d2d2d2;
      padding: 5px;
      border-radius: 5px;
      box-shadow: 5px 5px 10px 5px #676767;
    }
  }
}

.menuNameTariffs2 {
  display: flex;
  justify-content: center;

  div {
    width: 33%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    p {
      font-family: OpenSans-ExtraBold;
      width: 100%;
      text-align: center;
      color: white;
      margin: 20px 0 0 0;
      font-size: 24px;
      background: black;
      padding: 5px;
      border-radius: 5px;
      box-shadow: 5px 5px 10px 5px black;
    }
  }
}

.tariffsNote {
  padding-top: 50px;

  h3 {
    font-family: OpenSans-ExtraBold;
    font-size: 12px;
    padding-bottom: 10px;
    color: #525252;
  }

  p {
    font-family: OpenSans-Bold;
    font-size: 11px;
    padding-bottom: 5px;
  }
}

