
.navWrap {
  //width: 1170px;
  height: 100%;
  margin: 0 auto;

  ul {
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
      a{
        color: #516a4a;
      }
      a:hover{
        text-decoration: none;
      }

    }

  }
}